.container {
  border: 1px solid black;
  min-width: 680px;
  width: 95vw;
  margin: auto;
  height: 90vh; 
  min-height: 450px;
}

#splash-container,
#game-over-container,
#win-container {
  display: flex;
  justify-content: center;
  height: 100%;
  background: #8e9eab; 
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
  background: linear-gradient(to right, #eef2f3, #8e9eab); 
  /* color: rgb(35, 6, 59); */
  color: rgba(39, 4, 54, 0.932);
}

#splash-content,
#game-over-content,
#win-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#game-container {
  height: 100%;
  width: 100%;
}

html {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 4em;
  margin-bottom: 35px;
}

p {
  text-align: center;
  margin: 0 0 30px 0;
}

button {
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: rgba(39, 4, 54, 0.932);
  color: white;
}

#game-info {
  display: flex;
  justify-content: space-between;
}

#star-counter,
#timer {
  height: 50px;
  flex: 1;
  border: 1px solid black;
  font-size: 2em;
  background-color: rgb(6, 1, 11);
  color: white;
}

#star-counter {
  text-align: left;
  padding: 10px 0 10px 20px;
}

#timer {
  text-align: right;
  padding: 10px 20px 10px 0;
}