
html {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.container {
  /* min-width: 680px; */
  width: 95vw;
  margin: auto;
  height: 93vh; 
  /* min-height: 450px; */
}

h1 {
  text-align: center;
  font-family: 'Bungee Shade', sans-serif;
  font-size: 4em;
  margin: 25px 0 35px 0;
}

p {
  text-align: center;
  margin: 0 0 30px 0;
}

button {
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: rgba(39, 4, 54, 0.932);
  color: white;
}

#game-container {
  height: 100%;
  width: 100%;
}

canvas {
  width: 95vw;
  height: 90vh;
}

/******************** SCREEN STYLES **********************/

#splash-container,
#game-over-container,
#win-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  height: 100%;
  background: #8e9eab; 
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
  background: linear-gradient(to right, #eef2f3, #8e9eab); 
  /* color: rgb(35, 6, 59); */
  color: rgba(39, 4, 54, 0.932);
}

#splash-content,
#game-over-content,
#win-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#win-content button {
  background-color: rgb(92, 3, 114);
  border: none;
  box-shadow: 3px 3px 5px rgba(171, 162, 173, 0.24);
}

#win-container {
  background: linear-gradient( rgba(6, 1, 11, 0.7), rgba(10, 5, 15, 0.7) ), url('https://blenderartists.org/uploads/default/original/4X/4/2/f/42f6c9b37b58198f8d05207648e1938619473bc6.jpg') center / cover no-repeat;
  color: rgb(240, 188, 253);
}

/******************** TIMER AND COUNTER **********************/

#game-info {
  display: flex;
  justify-content: space-between;
}

#star-counter,
#timer {
  height: 50px;
  flex: 1;
  border: 1px solid black;
  font-size: 2em;
  background-color: rgb(6, 1, 11);
  color: white;
}

#star-counter {
  text-align: left;
  padding: 10px 0 10px 20px;
}

#timer {
  text-align: right;
  padding: 10px 20px 10px 0;
}

/******************** RULES **********************/

/* #rules {
  height: 40px;
  background-color: yellow;
  margin-top: - 10px;
} */

/******************** RESPONSIVE **********************/

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 0.75em;
  }

  button {
    font-size: 1em;
  }
}